<html>
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="header">
			<h1>Agung Tri Wibowo
			<small><br><br>Welcome to Blend S</br></br></small>
			</h1>
		</div>
		
		<div class="menu">
			<ul>
				<li><a href="">Smile</a></li>
				<li><a href="">Sweet</a></li>
				<li><a href="">Sister</a></li>
				<li><a href="">Sadistic</a></li>
				<li><a href="">Surprise</a></li>
				<li><a href="">Service</a></li>
			</ul>
		</div>

		<div class="content">
			<div class="subc"></div>
			<div class="subc"></div>
			<div class="subc"></div>		
		</div>
	</body>
</html>