<html>
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="header">
			<h1>Agung Tri Wibowo
			<small><br><br>Welcome to Blend S</br></br></small>
			</h1>
		</div>
		
		<div class="menu">
			<ul>
				<li><a href="smile.html">Smile</a></li>
				<li><a href="sweet.html">Sweet</a></li>
				<li><a href="sister.html">Sister</a></li>
				<li><a href="sadistic.html">Sadistic</a></li>
				<li><a href="surprise.html">Surprise</a></li>
				<li><a href="service.html">Service</a></li>
			</ul>
		</div>

		<div class="content">
			<div class="subc"></div>
			<div class="subc"></div>
			<div class="subc"></div>		
		</div>
	</body>
</html>