<html>
	<header>
		<img src="https://myanimelist.cdn-dena.com/images/characters/14/338152.jpg">
		<h1> Sadistic </h1>
		<h2> Miu Amano (天野 美雨 Amano Miu) </h2>
		<p> Miu adalah pelayan yang memenuhi sifat kakak perempuan. Dia biasanya memakai kacamata dan merupakan artis dōjinshi berusia 22 tahun dalam kelompok yang disebut "Hanazono Folder" yang menggambar komik dewasa. Miu awalnya datang ke kafe sebagai pelanggan, kemudian Dino mengintai dia dan dia diterima untuk mendapatkan inspirasi untuk dōjinshi-nya. Salah satu hobinya adalah mengamati orang, khususnya hubungan antara Dino dan Maika; dia bahkan menggunakannya sebagai model di dōjinshi-nya. </p>
	</header>
</html>