<html>
	<header>
		<br> <h1> Service </h1>
		<img src="https://myanimelist.cdn-dena.com/images/characters/11/338154.jpg">
		<h2> Dino (ディーノ Dīno) </h2>
		<p> Dino adalah manajer Italia Stile berusia 26 tahun dan bekerja di dapur. Dia mencintai gadis dan patung-patung anime, dan sering tidur larut malam untuk menonton anime larut malam. Hidungnya berdarah setiap kali dia bersemangat. Karena ketertarikannya pada gadis-gadis Jepang, terutama yang berambut hitam, ia mengembangkan naksir terbuka pada Maika, meskipun Maika sendiri tidak menyadari fakta ini. Dia tinggal di lantai dua di atas Stile dan mengambil seekor anjing bernama Pemilik (オ ー ナ ー) sesuai permintaan Maika. </p> </br>

		<img src="https://myanimelist.cdn-dena.com/images/characters/2/338155.jpg">
		<h2> Kōyō Akizuki (秋月 紅葉 Akizuki Kōyō) </h2>
		<p> Kōyō adalah koki berusia 21 tahun di Stile yang mencintai yuri dan selalu ingin melihat pelanggan wanita bersikap ramah satu sama lain untuk memecat imajinasinya. Bekerja di stasiun yang sama dengan Dino, dia harus bekerja lebih keras karena yang terakhir sering mengendur. Seperti Kaho, ia juga seorang gamer dan kemudian menjadi lebih sadar akan dirinya. </p>
	</header>
</html>