<html>
	<header>
		<img src="https://myanimelist.cdn-dena.com/images/characters/11/333105.jpg">
		<h1> Sister </h1>
		<h2> Mafuyu Hoshikawa (星川 麻冬 Hoshikawa Mafuyu) </h2>
		<p> Mafuyu adalah pelayan lain di Stile yang sebenarnya adalah seorang mahasiswa berusia 21 tahun, tetapi memainkan karakter adik perempuan karena sosok mungilnya. Kepribadian aslinya adalah dewasa dan dia jarang menunjukkan emosi, tetapi dengan mudah menjadi bersemangat setiap kali serial favoritnya, Aisatsu (Magical Frill di anime), terlibat. Dia memiliki adik laki-laki yang lebih tinggi darinya, dan dia selalu menginginkan adik perempuan, meskipun dia tidak akan memasukkan Kaho karena sosok tubuh Kaho. </p>
	</header>
</html>