<html>
	<header>
		<img src="https://myanimelist.cdn-dena.com/images/characters/11/333102.jpg">
		<h1> Smile </h1>
		<h2> Maika Sakuranomiya (桜ノ宮 苺香 Sakuranomiya Maika) </h2>
		<p> Maika adalah seorang gadis berusia 16 tahun yang meskipun memiliki kepribadian yang positif dan ceria, secara tidak sengaja mendapatkan tatapan sadis di matanya setiap kali dia tersenyum. Tampilan ini menarik perhatian Dino, yang mengintai dia untuk menjadi pelayan 'gadis sadis' di kafe Stile. Meskipun diberi tahu bahwa pelanggan seperti diperlakukan dengan buruk, dia khawatir tentang bagaimana dia memperlakukan pelanggan menjadi lebih baik darinya, menyebabkan dia menjadi pribadi yang meminta maaf segera setelah mereka pergi. Dia berasal dari keluarga yang sangat tradisional dan bekerja paruh waktu sehingga dia bisa belajar di luar negeri menggunakan uangnya sendiri. Kecintaannya pada negara lain juga membuatnya mengembangkan kekaguman terhadap Kolonel Sanders (yang ia sebut sebagai "orang tua dari tempat ayam") dan Sinterklas. Dia mengagumi Dino karena rambut pirangnya tetapi tidak menyadari naksir Dino padanya. </p>
	</header>
</html>