<html>
	<header>
		<img src="https://myanimelist.cdn-dena.com/images/characters/10/338153.jpg">
		<h1> Surprise </h1>
		<h2> Hideri Kanzaki (神崎 ひでり Kanzaki Hideri) </h2>
		<p> Hideri adalah pramusaji berusia 16 tahun yang memenuhi sifat idola. Hideri sebenarnya adalah anak laki-laki yang berpakaian seperti perempuan dan bercita-cita menjadi seorang idola. Dia bekerja di Stile untuk mendapatkan penggemar; memberikan bukti kepada orang tuanya bahwa dia berbakat, atau dia harus mewarisi pertanian keluarganya. Sementara dia bertingkah seperti gadis "imut" sepanjang waktu, dia secara tidak sengaja bisa menjadi jantan dan terkadang membantu Dino lebih dekat dengan Maika. </p>
	</header>
</html>