<html>
	<header>
		<img src="https://myanimelist.cdn-dena.com/images/characters/3/333103.jpg">
		<h1> Sweet </h1>
		<h2> Kaho Hinata (日向 夏帆 Hinata Kaho) </h2>
		<p> Kaho adalah seorang pramusaji berusia 17 tahun di Stile yang bertindak sebagai tsundere. Dia suka bermain video game dan sering mengunjungi arcade, tetapi ini biasanya menyebabkan dia cepat kehabisan uang. Meskipun dia memainkan gadis tsundere, kepribadian asli Kaho adalah orang yang riang dan ceria. Dia memiliki kesulitan menjaga kepribadian tsundere ketika pelanggan mendiskusikan permainan video, merasakan kebutuhan untuk bergabung. Dia saat ini adalah pelayan paling populer di Stile. </p>
	</header>
</html>